.log-in-ver1-for-test-page-wrapper {
  display: contents;
}
 
.log-in-ver1-for-test-page-container1 {
  margin: auto;
  padding: 2rem;
  position: relative;
  max-width: 400px;
  background: #ffffff;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05;
  align-items: center;
  border-radius: 16px;
}
 
.log-in-ver1-for-test-page-text10 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 24px;
}
 
.log-in-ver1-for-test-page-icon1 {
  margin-left: var(--dl-layout-space-sixunits);
}
 
.log-in-ver1-for-test-page-textinput1 {
  border: 1px solid #ccc;
  padding: 14px;
  font-size: 16px;
  border-radius: 10px;
  margin-bottom: 12px;
}
 
.log-in-ver1-for-test-page-container2 {
  text-align: center;
}
 
.log-in-ver1-for-test-page-text12 {
  text-align: center;
}
 
.log-in-ver1-for-test-page-textinput2 {
  border: 1px solid #ccc;
  padding: 14px;
  font-size: 16px;
  border-radius: 10px;
  margin-bottom: 12px;
}
 
.log-in-ver1-for-test-page-button1 {
  color: #ffffff;
  width: 100%;
  padding: 14px;
  font-size: 16px;
  background: #3b82f6;
  border-radius: 10px;
  margin-bottom: 12px;
  background-image: initial;
}
 
.log-in-ver1-for-test-page-textinput3 {
  border: 1px solid #ccc;
  padding: 14px;
  font-size: 16px;
  border-radius: 10px;
  margin-bottom: 12px;
}
 
.log-in-ver1-for-test-page-button2 {
  color: #ffffff;
  width: 100%;
  padding: 14px;
  font-size: 16px;
  background: #3b82f6;
  border-radius: 10px;
  margin-bottom: 12px;
  background-image: initial;
}
 
.log-in-ver1-for-test-page-button3 {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  border-radius: 10px;
  margin-bottom: 12px;
}
 
.log-in-ver1-for-test-page-button4 {
  color: #333333;
  width: 100%;
  border: 1px solid #ccc;
  padding: 14px;
  font-size: 16px;
  background: white;
  border-radius: 10px;
  margin-bottom: 12px;
  background-image: initial;
}
 
.log-in-ver1-for-test-page-container5 {
  border: 1px solid #6dd36d;
  font-size: 14px;
  background: #e0fce0;
  margin-top: 10px;
  border-radius: 8px;
}
 
.autorisation-page-fragment1 {
  display: contents;
}
 
.autorisation-page-text1 {
  display: inline-block;
}
 
.autorisation-page-fragment6 {
  display: contents;
}
 
.autorisation-page-text6 {
  display: inline-block;
}
 
.autorisation-page-fragment2 {
  display: contents;
}
 
.autorisation-page-text2 {
  display: inline-block;
  font-size: 12px;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px, rgb(212, 212, 212) 5px 5px 10px 0px;
  text-transform: capitalize;
}
 
.autorisation-page-fragment4 {
  display: contents;
}
 
.autorisation-page-text4 {
  display: inline-block;
}
 
.autorisation-page-fragment7 {
  display: contents;
}
 
.autorisation-page-text7 {
  display: inline-block;
}
 
.autorisation-page-fragment9 {
  display: contents;
}
 
.autorisation-page-text9 {
  display: inline-block;
}
 
.autorisation-page-fragment5 {
  display: contents;
}
 
.autorisation-page-text5 {
  display: inline-block;
}
 
.autorisation-page-fragment3 {
  display: contents;
}
 
.autorisation-page-text3 {
  display: inline-block;
}
 
.autorisation-page-fragment8 {
  display: contents;
}
 
.autorisation-page-text8 {
  display: inline-block;
}
 


.autorisation-page-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.autorisation-page-fragment1 {
  display: contents;
}
 
.autorisation-page-text1 {
  display: inline-block;
}
 
.autorisation-page-fragment2 {
  display: contents;
}
 
.autorisation-page-text2 {
  display: inline-block;
  font-size: 12px;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px, rgb(212, 212, 212) 5px 5px 10px 0px;
  text-transform: capitalize;
}
 
.autorisation-page-fragment3 {
  display: contents;
}
 
.autorisation-page-text3 {
  display: inline-block;
}
 
.autorisation-page-fragment4 {
  display: contents;
}
 
.autorisation-page-text4 {
  display: inline-block;
}
 
.autorisation-page-fragment5 {
  display: contents;
}
 
.autorisation-page-text5 {
  display: inline-block;
}
 
.autorisation-page-fragment6 {
  display: contents;
}
 
.autorisation-page-text6 {
  display: inline-block;
}
 
.autorisation-page-fragment7 {
  display: contents;
}
 
.autorisation-page-text7 {
  display: inline-block;
}
 
.autorisation-page-fragment8 {
  display: contents;
}
 
.autorisation-page-text8 {
  display: inline-block;
}
 
.autorisation-page-fragment9 {
  display: contents;
}
 
.autorisation-page-text9 {
  display: inline-block;
}
