.test-sport-card-wrapper {
  display: contents;
}
 
.test-sport-card-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.test-sport-card-container-event {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  box-shadow: 5px 5px 5px 5px #7e7e7e;
  align-items: flex-start;
  border-color: #7e7e7e;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
}
 
.test-sport-card-title-event {
  flex: 0 0 auto;
  width: 100%;
  height: var(--dl-layout-size-small);
  display: flex;
  align-self: center;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
}
 
.test-sport-card-text10 {
  width: 200px;
  height: auto;
  font-size: 30px;
  align-self: center;
  text-align: center;
}
 
.test-sport-card-text11 {
  width: var(--dl-layout-size-small);
  height: auto;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  border-color: #000000;
  border-width: 0px;
}
 
.test-sport-card-text12 {
  width: var(--dl-layout-size-small);
  height: auto;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  border-color: #000000;
}
 
.test-sport-card-text13 {
  width: var(--dl-layout-size-small);
  height: auto;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  border-color: #000000;
}
 
.test-sport-card-event1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  min-height: 24px;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
}
 
.test-sport-card-text14 {
  width: 200px;
  height: auto;
  align-self: center;
  text-align: left;
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-halfunit);
}
 
.test-sport-card-checkbox10 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-checkbox11 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-checkbox12 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-event2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  min-height: 24px;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
}
 
.test-sport-card-text15 {
  width: 200px;
  height: auto;
  align-self: center;
  text-align: left;
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-halfunit);
}
 
.test-sport-card-checkbox13 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-checkbox14 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-checkbox15 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-event3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  min-height: 24px;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
}
 
.test-sport-card-text16 {
  width: 200px;
  height: auto;
  align-self: center;
  text-align: left;
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-halfunit);
}
 
.test-sport-card-checkbox16 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-checkbox17 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-checkbox18 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-event4 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  min-height: 24px;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
}
 
.test-sport-card-text17 {
  width: 200px;
  height: auto;
  align-self: center;
  text-align: left;
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-halfunit);
}
 
.test-sport-card-checkbox19 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-checkbox20 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-checkbox21 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-event5 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  min-height: 24px;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
}
 
.test-sport-card-text18 {
  width: 200px;
  height: auto;
  align-self: center;
  text-align: left;
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-halfunit);
}
 
.test-sport-card-checkbox22 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-checkbox23 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-checkbox24 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-container-button {
  flex: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.test-sport-card-text19 {
  width: 90%;
  font-size: 12px;
  margin-top: var(--dl-layout-space-halfunit);
}
 
.test-sport-card-price1 {
  flex: 0 0 auto;
  width: auto;
  height: 24px;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-layout-space-unit);
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 0px;
  flex-direction: row;
  justify-content: center;
}
 
.test-sport-card-text20 {
  width: auto;
  height: auto;
  align-self: center;
  text-align: left;
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-halfunit);
}
 
.test-sport-card-text21 {
  width: auto;
  align-self: center;
  font-style: normal;
  font-weight: 700;
}
 
.test-sport-card-price2 {
  flex: 0 0 auto;
  width: auto;
  height: 24px;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-layout-space-unit);
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 0px;
  flex-direction: row;
  justify-content: center;
}
 
.test-sport-card-text22 {
  width: auto;
  height: auto;
  align-self: center;
  text-align: left;
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-halfunit);
}
 
.test-sport-card-text23 {
  width: auto;
  align-self: center;
  font-style: normal;
  font-weight: 700;
}
 
.test-sport-card-button {
  margin: var(--dl-layout-space-halfunit);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-buttonradius);
  background-color: #bf4408;
}
 
.test-sport-card-text24 {
  color: #ffffff;
}
 
.sport-lottery-section-fragment70 {
  display: contents;
}
 
.sport-lottery-section-text73 {
  display: inline-block;
}
 
.sport-lottery-section-fragment71 {
  display: contents;
}
 
.sport-lottery-section-text74 {
  display: inline-block;
  font-size: 22px;
}
 
.sport-lottery-section-fragment72 {
  display: contents;
}
 
.sport-lottery-section-text75 {
  display: inline-block;
}
 
.sport-lottery-section-fragment22 {
  display: contents;
}
 
.sport-lottery-section-text25 {
  display: inline-block;
}
 
.sport-lottery-section-fragment19 {
  display: contents;
}
 
.sport-lottery-section-text22 {
  display: inline-block;
}
 
.sport-lottery-section-fragment20 {
  display: contents;
}
 
.sport-lottery-section-text23 {
  display: inline-block;
}
 
.sport-lottery-section-fragment14 {
  display: contents;
}
 
.sport-lottery-section-text17 {
  display: inline-block;
}
 
.sport-lottery-section-fragment11 {
  display: contents;
}
 
.sport-lottery-section-text14 {
  display: inline-block;
}
 
.sport-lottery-section-fragment18 {
  display: contents;
}
 
.sport-lottery-section-text21 {
  display: inline-block;
}
 
.sport-lottery-section-fragment10 {
  display: contents;
}
 
.sport-lottery-section-text13 {
  display: inline-block;
  font-style: normal;
  font-weight: 700;
}
 
.sport-lottery-section-fragment23 {
  display: contents;
}
 
.sport-lottery-section-text26 {
  display: inline-block;
}
 
.sport-lottery-section-fragment16 {
  display: contents;
}
 
.sport-lottery-section-text19 {
  display: inline-block;
}
 
.sport-lottery-section-fragment15 {
  display: contents;
}
 
.sport-lottery-section-text18 {
  display: inline-block;
}
 
.sport-lottery-section-fragment13 {
  display: contents;
}
 
.sport-lottery-section-text16 {
  display: inline-block;
}
 
.sport-lottery-section-fragment24 {
  display: contents;
}
 
.sport-lottery-section-text27 {
  display: inline-block;
}
 
.sport-lottery-section-fragment12 {
  display: contents;
}
 
.sport-lottery-section-text15 {
  display: inline-block;
}
 
.sport-lottery-section-fragment21 {
  display: contents;
}
 
.sport-lottery-section-text24 {
  display: inline-block;
}
 
.sport-lottery-section-fragment17 {
  display: contents;
}
 
.sport-lottery-section-text20 {
  display: inline-block;
}
 
.test-sport-cardroot-class-name {
  width: auto;
}
 
.test-sport-cardroot-class-name1 {
  width: auto;
}
 
.test-sport-cardroot-class-name2 {
  width: auto;
  align-self: center;
}
 
.test-sport-cardroot-class-name3 {
  flex: 1 1 calc(25% - 16px);
}
 
.test-sport-cardroot-class-name4 {
  flex: 1 1 calc(25% - 16px);
}
 
.test-sport-cardroot-class-name5 {
  flex: 1 1 calc(25% - 16px);
}
 
.test-sport-cardroot-class-name6 {
  flex: 1 1 calc(25% - 16px);
}
 
.test-sport-cardroot-class-name7 {
  flex: 1 1 calc(25% - 16px);
}
 
.test-sport-cardroot-class-name8 {
  flex: 1 1 calc(25% - 16px);
}
 
.test-sport-cardroot-class-name9 {
  flex: 1 1 calc(25% - 16px);
}
 
.test-sport-cardroot-class-name11 {
  width: auto;
  align-self: center;
}
 
@media(max-width: 991px) {
  .sport-lottery-section-text73 {
    font-size: 22px;
  }
}
 
@media(max-width: 479px) {
  .test-sport-card-text10 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
  }
  .sport-lottery-section-text74 {
    font-size: 22px;
  }
  .sport-lottery-section-text13 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
  }
  .test-sport-cardroot-class-name2 {
    align-self: flex-start;
  }
  .test-sport-cardroot-class-name11 {
    align-self: flex-start;
  }
}

.test-sport-card-wrapper-orfk {
  display: contents;
}
 
.test-sport-card-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.test-sport-card-container-event1 {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  box-shadow: 5px 5px 5px 5px #7e7e7e;
  align-items: flex-start;
  border-color: #7e7e7e;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
}
 
.test-sport-card-title-event1 {
  flex: 0 0 auto;
  width: 100%;
  height: var(--dl-layout-size-small);
  display: flex;
  align-self: center;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
}
 
.test-sport-card-text25 {
  width: 200px;
  height: auto;
  font-size: 30px;
  align-self: center;
  text-align: center;
}
 
.test-sport-card-text26 {
  width: var(--dl-layout-size-small);
  height: auto;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  border-color: #000000;
  border-width: 0px;
}
 
.test-sport-card-text27 {
  width: var(--dl-layout-size-small);
  height: auto;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  border-color: #000000;
}
 
.test-sport-card-text28 {
  width: var(--dl-layout-size-small);
  height: auto;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  border-color: #000000;
}
 
.test-sport-card-event6 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  min-height: 24px;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
}
 
.test-sport-card-text29 {
  width: 200px;
  height: auto;
  align-self: center;
  text-align: left;
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-halfunit);
}
 
.test-sport-card-checkbox25 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-checkbox26 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-checkbox27 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-event7 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  min-height: 24px;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
}
 
.test-sport-card-text30 {
  width: 200px;
  height: auto;
  align-self: center;
  text-align: left;
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-halfunit);
}
 
.test-sport-card-checkbox28 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-checkbox29 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-checkbox30 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-event8 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  min-height: 24px;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
}
 
.test-sport-card-text31 {
  width: 200px;
  height: auto;
  align-self: center;
  text-align: left;
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-halfunit);
}
 
.test-sport-card-checkbox31 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-checkbox32 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-checkbox33 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-event9 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  min-height: 24px;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
}
 
.test-sport-card-text32 {
  width: 200px;
  height: auto;
  align-self: center;
  text-align: left;
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-halfunit);
}
 
.test-sport-card-checkbox34 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-checkbox35 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-checkbox36 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-event10 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  min-height: 24px;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
}
 
.test-sport-card-text33 {
  width: 200px;
  height: auto;
  align-self: center;
  text-align: left;
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-halfunit);
}
 
.test-sport-card-checkbox37 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-checkbox38 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-checkbox39 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-container-button1 {
  flex: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.test-sport-card-text34 {
  width: 90%;
  font-size: 12px;
  margin-top: var(--dl-layout-space-halfunit);
}
 
.test-sport-card-price3 {
  flex: 0 0 auto;
  width: auto;
  height: 24px;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-layout-space-unit);
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 0px;
  flex-direction: row;
  justify-content: center;
}
 
.test-sport-card-text35 {
  width: auto;
  height: auto;
  align-self: center;
  text-align: left;
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-halfunit);
}
 
.test-sport-card-text36 {
  width: auto;
  align-self: center;
  font-style: normal;
  font-weight: 700;
}
 
.test-sport-card-price4 {
  flex: 0 0 auto;
  width: auto;
  height: 24px;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-layout-space-unit);
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 0px;
  flex-direction: row;
  justify-content: center;
}
 
.test-sport-card-text37 {
  width: auto;
  height: auto;
  align-self: center;
  text-align: left;
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-halfunit);
}
 
.test-sport-card-text38 {
  width: auto;
  align-self: center;
  font-style: normal;
  font-weight: 700;
}
 
.test-sport-card-button1 {
  margin: var(--dl-layout-space-halfunit);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-buttonradius);
  background-color: #bf4408;
}
 
.test-sport-card-text39 {
  color: #ffffff;
}
 
.sport-lottery-section-fragment70 {
  display: contents;
}
 
.sport-lottery-section-text73 {
  display: inline-block;
}
 
.sport-lottery-section-fragment71 {
  display: contents;
}
 
.sport-lottery-section-text74 {
  display: inline-block;
  font-size: 22px;
}
 
.sport-lottery-section-fragment72 {
  display: contents;
}
 
.sport-lottery-section-text75 {
  display: inline-block;
}
 
.sport-lottery-section-fragment37 {
  display: contents;
}
 
.sport-lottery-section-text40 {
  display: inline-block;
}
 
.sport-lottery-section-fragment34 {
  display: contents;
}
 
.sport-lottery-section-text37 {
  display: inline-block;
}
 
.sport-lottery-section-fragment35 {
  display: contents;
}
 
.sport-lottery-section-text38 {
  display: inline-block;
}
 
.sport-lottery-section-fragment29 {
  display: contents;
}
 
.sport-lottery-section-text32 {
  display: inline-block;
}
 
.sport-lottery-section-fragment26 {
  display: contents;
}
 
.sport-lottery-section-text29 {
  display: inline-block;
}
 
.sport-lottery-section-fragment33 {
  display: contents;
}
 
.sport-lottery-section-text36 {
  display: inline-block;
}
 
.sport-lottery-section-fragment25 {
  display: contents;
}
 
.sport-lottery-section-text28 {
  display: inline-block;
  font-style: normal;
  font-weight: 700;
}
 
.sport-lottery-section-fragment38 {
  display: contents;
}
 
.sport-lottery-section-text41 {
  display: inline-block;
}
 
.sport-lottery-section-fragment31 {
  display: contents;
}
 
.sport-lottery-section-text34 {
  display: inline-block;
}
 
.sport-lottery-section-fragment30 {
  display: contents;
}
 
.sport-lottery-section-text33 {
  display: inline-block;
}
 
.sport-lottery-section-fragment28 {
  display: contents;
}
 
.sport-lottery-section-text31 {
  display: inline-block;
}
 
.sport-lottery-section-fragment39 {
  display: contents;
}
 
.sport-lottery-section-text42 {
  display: inline-block;
}
 
.sport-lottery-section-fragment27 {
  display: contents;
}
 
.sport-lottery-section-text30 {
  display: inline-block;
}
 
.sport-lottery-section-fragment36 {
  display: contents;
}
 
.sport-lottery-section-text39 {
  display: inline-block;
}
 
.sport-lottery-section-fragment32 {
  display: contents;
}
 
.sport-lottery-section-text35 {
  display: inline-block;
}
 
.test-sport-cardroot-class-name {
  width: auto;
}
 
.test-sport-cardroot-class-name1 {
  width: auto;
}
 
.test-sport-cardroot-class-name2 {
  width: auto;
  align-self: center;
}
 
.test-sport-cardroot-class-name3 {
  flex: 1 1 calc(25% - 16px);
}
 
.test-sport-cardroot-class-name4 {
  flex: 1 1 calc(25% - 16px);
}
 
.test-sport-cardroot-class-name5 {
  flex: 1 1 calc(25% - 16px);
}
 
.test-sport-cardroot-class-name6 {
  flex: 1 1 calc(25% - 16px);
}
 
.test-sport-cardroot-class-name7 {
  flex: 1 1 calc(25% - 16px);
}
 
.test-sport-cardroot-class-name8 {
  flex: 1 1 calc(25% - 16px);
}
 
.test-sport-cardroot-class-name9 {
  flex: 1 1 calc(25% - 16px);
}
 
.test-sport-cardroot-class-name11 {
  width: auto;
  align-self: center;
}
 
@media(max-width: 991px) {
  .sport-lottery-section-text73 {
    font-size: 22px;
  }
}
 
@media(max-width: 479px) {
  .test-sport-card-text25 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
  }
  .sport-lottery-section-text74 {
    font-size: 22px;
  }
  .sport-lottery-section-text28 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
  }
  .test-sport-cardroot-class-name2 {
    align-self: flex-start;
  }
  .test-sport-cardroot-class-name11 {
    align-self: flex-start;
  }
}

.test-sport-card-wrapper-6pwa {
  display: contents;
}
 
.test-sport-card-container2 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.test-sport-card-container-event2 {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  box-shadow: 5px 5px 5px 5px #7e7e7e;
  align-items: flex-start;
  border-color: #7e7e7e;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
}
 
.test-sport-card-title-event2 {
  flex: 0 0 auto;
  width: 100%;
  height: var(--dl-layout-size-small);
  display: flex;
  align-self: center;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
}
 
.test-sport-card-text40 {
  width: 200px;
  height: auto;
  font-size: 30px;
  align-self: center;
  text-align: center;
}
 
.test-sport-card-text41 {
  width: var(--dl-layout-size-small);
  height: auto;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  border-color: #000000;
  border-width: 0px;
}
 
.test-sport-card-text42 {
  width: var(--dl-layout-size-small);
  height: auto;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  border-color: #000000;
}
 
.test-sport-card-text43 {
  width: var(--dl-layout-size-small);
  height: auto;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  border-color: #000000;
}
 
.test-sport-card-event11 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  min-height: 24px;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
}
 
.test-sport-card-text44 {
  width: 200px;
  height: auto;
  align-self: center;
  text-align: left;
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-halfunit);
}
 
.test-sport-card-checkbox40 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-checkbox41 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-checkbox42 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-event12 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  min-height: 24px;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
}
 
.test-sport-card-text45 {
  width: 200px;
  height: auto;
  align-self: center;
  text-align: left;
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-halfunit);
}
 
.test-sport-card-checkbox43 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-checkbox44 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-checkbox45 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-event13 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  min-height: 24px;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
}
 
.test-sport-card-text46 {
  width: 200px;
  height: auto;
  align-self: center;
  text-align: left;
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-halfunit);
}
 
.test-sport-card-checkbox46 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-checkbox47 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-checkbox48 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-event14 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  min-height: 24px;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
}
 
.test-sport-card-text47 {
  width: 200px;
  height: auto;
  align-self: center;
  text-align: left;
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-halfunit);
}
 
.test-sport-card-checkbox49 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-checkbox50 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-checkbox51 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-event15 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  min-height: 24px;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
}
 
.test-sport-card-text48 {
  width: 200px;
  height: auto;
  align-self: center;
  text-align: left;
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-halfunit);
}
 
.test-sport-card-checkbox52 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-checkbox53 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-checkbox54 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-container-button2 {
  flex: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.test-sport-card-text49 {
  width: 90%;
  font-size: 12px;
  margin-top: var(--dl-layout-space-halfunit);
}
 
.test-sport-card-price5 {
  flex: 0 0 auto;
  width: auto;
  height: 24px;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-layout-space-unit);
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 0px;
  flex-direction: row;
  justify-content: center;
}
 
.test-sport-card-text50 {
  width: auto;
  height: auto;
  align-self: center;
  text-align: left;
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-halfunit);
}
 
.test-sport-card-text51 {
  width: auto;
  align-self: center;
  font-style: normal;
  font-weight: 700;
}
 
.test-sport-card-price6 {
  flex: 0 0 auto;
  width: auto;
  height: 24px;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-layout-space-unit);
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 0px;
  flex-direction: row;
  justify-content: center;
}
 
.test-sport-card-text52 {
  width: auto;
  height: auto;
  align-self: center;
  text-align: left;
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-halfunit);
}
 
.test-sport-card-text53 {
  width: auto;
  align-self: center;
  font-style: normal;
  font-weight: 700;
}
 
.test-sport-card-button2 {
  margin: var(--dl-layout-space-halfunit);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-buttonradius);
  background-color: #bf4408;
}
 
.test-sport-card-text54 {
  color: #ffffff;
}
 
.sport-lottery-section-fragment70 {
  display: contents;
}
 
.sport-lottery-section-text73 {
  display: inline-block;
}
 
.sport-lottery-section-fragment71 {
  display: contents;
}
 
.sport-lottery-section-text74 {
  display: inline-block;
  font-size: 22px;
}
 
.sport-lottery-section-fragment72 {
  display: contents;
}
 
.sport-lottery-section-text75 {
  display: inline-block;
}
 
.sport-lottery-section-fragment52 {
  display: contents;
}
 
.sport-lottery-section-text55 {
  display: inline-block;
}
 
.sport-lottery-section-fragment49 {
  display: contents;
}
 
.sport-lottery-section-text52 {
  display: inline-block;
}
 
.sport-lottery-section-fragment50 {
  display: contents;
}
 
.sport-lottery-section-text53 {
  display: inline-block;
}
 
.sport-lottery-section-fragment44 {
  display: contents;
}
 
.sport-lottery-section-text47 {
  display: inline-block;
}
 
.sport-lottery-section-fragment41 {
  display: contents;
}
 
.sport-lottery-section-text44 {
  display: inline-block;
}
 
.sport-lottery-section-fragment48 {
  display: contents;
}
 
.sport-lottery-section-text51 {
  display: inline-block;
}
 
.sport-lottery-section-fragment40 {
  display: contents;
}
 
.sport-lottery-section-text43 {
  display: inline-block;
  font-style: normal;
  font-weight: 700;
}
 
.sport-lottery-section-fragment53 {
  display: contents;
}
 
.sport-lottery-section-text56 {
  display: inline-block;
}
 
.sport-lottery-section-fragment46 {
  display: contents;
}
 
.sport-lottery-section-text49 {
  display: inline-block;
}
 
.sport-lottery-section-fragment45 {
  display: contents;
}
 
.sport-lottery-section-text48 {
  display: inline-block;
}
 
.sport-lottery-section-fragment43 {
  display: contents;
}
 
.sport-lottery-section-text46 {
  display: inline-block;
}
 
.sport-lottery-section-fragment54 {
  display: contents;
}
 
.sport-lottery-section-text57 {
  display: inline-block;
}
 
.sport-lottery-section-fragment42 {
  display: contents;
}
 
.sport-lottery-section-text45 {
  display: inline-block;
}
 
.sport-lottery-section-fragment51 {
  display: contents;
}
 
.sport-lottery-section-text54 {
  display: inline-block;
}
 
.sport-lottery-section-fragment47 {
  display: contents;
}
 
.sport-lottery-section-text50 {
  display: inline-block;
}
 
.test-sport-cardroot-class-name {
  width: auto;
}
 
.test-sport-cardroot-class-name1 {
  width: auto;
}
 
.test-sport-cardroot-class-name2 {
  width: auto;
  align-self: center;
}
 
.test-sport-cardroot-class-name3 {
  flex: 1 1 calc(25% - 16px);
}
 
.test-sport-cardroot-class-name4 {
  flex: 1 1 calc(25% - 16px);
}
 
.test-sport-cardroot-class-name5 {
  flex: 1 1 calc(25% - 16px);
}
 
.test-sport-cardroot-class-name6 {
  flex: 1 1 calc(25% - 16px);
}
 
.test-sport-cardroot-class-name7 {
  flex: 1 1 calc(25% - 16px);
}
 
.test-sport-cardroot-class-name8 {
  flex: 1 1 calc(25% - 16px);
}
 
.test-sport-cardroot-class-name9 {
  flex: 1 1 calc(25% - 16px);
}
 
.test-sport-cardroot-class-name11 {
  width: auto;
  align-self: center;
}
 
@media(max-width: 991px) {
  .sport-lottery-section-text73 {
    font-size: 22px;
  }
}
 
@media(max-width: 479px) {
  .test-sport-card-text40 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
  }
  .sport-lottery-section-text74 {
    font-size: 22px;
  }
  .sport-lottery-section-text43 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
  }
  .test-sport-cardroot-class-name2 {
    align-self: flex-start;
  }
  .test-sport-cardroot-class-name11 {
    align-self: flex-start;
  }
}

.test-sport-card-wrapper-mlbh {
  display: contents;
}
 
.test-sport-card-container3 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.test-sport-card-container-event3 {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  box-shadow: 5px 5px 5px 5px #7e7e7e;
  align-items: flex-start;
  border-color: #7e7e7e;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
}
 
.test-sport-card-title-event3 {
  flex: 0 0 auto;
  width: 100%;
  height: var(--dl-layout-size-small);
  display: flex;
  align-self: center;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
}
 
.test-sport-card-text55 {
  width: 200px;
  height: auto;
  font-size: 30px;
  align-self: center;
  text-align: center;
}
 
.test-sport-card-text56 {
  width: var(--dl-layout-size-small);
  height: auto;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  border-color: #000000;
  border-width: 0px;
}
 
.test-sport-card-text57 {
  width: var(--dl-layout-size-small);
  height: auto;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  border-color: #000000;
}
 
.test-sport-card-text58 {
  width: var(--dl-layout-size-small);
  height: auto;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  border-color: #000000;
}
 
.test-sport-card-event16 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  min-height: 24px;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
}
 
.test-sport-card-text59 {
  width: 200px;
  height: auto;
  align-self: center;
  text-align: left;
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-halfunit);
}
 
.test-sport-card-checkbox55 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-checkbox56 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-checkbox57 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-event17 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  min-height: 24px;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
}
 
.test-sport-card-text60 {
  width: 200px;
  height: auto;
  align-self: center;
  text-align: left;
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-halfunit);
}
 
.test-sport-card-checkbox58 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-checkbox59 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-checkbox60 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-event18 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  min-height: 24px;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
}
 
.test-sport-card-text61 {
  width: 200px;
  height: auto;
  align-self: center;
  text-align: left;
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-halfunit);
}
 
.test-sport-card-checkbox61 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-checkbox62 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-checkbox63 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-event19 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  min-height: 24px;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
}
 
.test-sport-card-text62 {
  width: 200px;
  height: auto;
  align-self: center;
  text-align: left;
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-halfunit);
}
 
.test-sport-card-checkbox64 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-checkbox65 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-checkbox66 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-event20 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  min-height: 24px;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: row;
  justify-content: center;
}
 
.test-sport-card-text63 {
  width: 200px;
  height: auto;
  align-self: center;
  text-align: left;
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-halfunit);
}
 
.test-sport-card-checkbox67 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-checkbox68 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-checkbox69 {
  flex: 1;
  align-self: center;
}
 
.test-sport-card-container-button3 {
  flex: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.test-sport-card-text64 {
  width: 90%;
  font-size: 12px;
  margin-top: var(--dl-layout-space-halfunit);
}
 
.test-sport-card-price7 {
  flex: 0 0 auto;
  width: auto;
  height: 24px;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-layout-space-unit);
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 0px;
  flex-direction: row;
  justify-content: center;
}
 
.test-sport-card-text65 {
  width: auto;
  height: auto;
  align-self: center;
  text-align: left;
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-halfunit);
}
 
.test-sport-card-text66 {
  width: auto;
  align-self: center;
  font-style: normal;
  font-weight: 700;
}
 
.test-sport-card-price8 {
  flex: 0 0 auto;
  width: auto;
  height: 24px;
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-layout-space-unit);
  align-items: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 0px;
  flex-direction: row;
  justify-content: center;
}
 
.test-sport-card-text67 {
  width: auto;
  height: auto;
  align-self: center;
  text-align: left;
  padding-left: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-radius4);
  padding-right: var(--dl-layout-space-halfunit);
}
 
.test-sport-card-text68 {
  width: auto;
  align-self: center;
  font-style: normal;
  font-weight: 700;
}
 
.test-sport-card-button3 {
  margin: var(--dl-layout-space-halfunit);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  border-radius: var(--dl-layout-radius-buttonradius);
  background-color: #bf4408;
}
 
.test-sport-card-text69 {
  color: #ffffff;
}
 
.sport-lottery-section-fragment70 {
  display: contents;
}
 
.sport-lottery-section-text73 {
  display: inline-block;
}
 
.sport-lottery-section-fragment71 {
  display: contents;
}
 
.sport-lottery-section-text74 {
  display: inline-block;
  font-size: 22px;
}
 
.sport-lottery-section-fragment72 {
  display: contents;
}
 
.sport-lottery-section-text75 {
  display: inline-block;
}
 
.sport-lottery-section-fragment67 {
  display: contents;
}
 
.sport-lottery-section-text70 {
  display: inline-block;
}
 
.sport-lottery-section-fragment64 {
  display: contents;
}
 
.sport-lottery-section-text67 {
  display: inline-block;
}
 
.sport-lottery-section-fragment65 {
  display: contents;
}
 
.sport-lottery-section-text68 {
  display: inline-block;
}
 
.sport-lottery-section-fragment59 {
  display: contents;
}
 
.sport-lottery-section-text62 {
  display: inline-block;
}
 
.sport-lottery-section-fragment56 {
  display: contents;
}
 
.sport-lottery-section-text59 {
  display: inline-block;
}
 
.sport-lottery-section-fragment63 {
  display: contents;
}
 
.sport-lottery-section-text66 {
  display: inline-block;
}
 
.sport-lottery-section-fragment55 {
  display: contents;
}
 
.sport-lottery-section-text58 {
  display: inline-block;
  font-style: normal;
  font-weight: 700;
}
 
.sport-lottery-section-fragment68 {
  display: contents;
}
 
.sport-lottery-section-text71 {
  display: inline-block;
}
 
.sport-lottery-section-fragment61 {
  display: contents;
}
 
.sport-lottery-section-text64 {
  display: inline-block;
}
 
.sport-lottery-section-fragment60 {
  display: contents;
}
 
.sport-lottery-section-text63 {
  display: inline-block;
}
 
.sport-lottery-section-fragment58 {
  display: contents;
}
 
.sport-lottery-section-text61 {
  display: inline-block;
}
 
.sport-lottery-section-fragment69 {
  display: contents;
}
 
.sport-lottery-section-text72 {
  display: inline-block;
}
 
.sport-lottery-section-fragment57 {
  display: contents;
}
 
.sport-lottery-section-text60 {
  display: inline-block;
}
 
.sport-lottery-section-fragment66 {
  display: contents;
}
 
.sport-lottery-section-text69 {
  display: inline-block;
}
 
.sport-lottery-section-fragment62 {
  display: contents;
}
 
.sport-lottery-section-text65 {
  display: inline-block;
}
 
.test-sport-cardroot-class-name {
  width: auto;
}
 
.test-sport-cardroot-class-name1 {
  width: auto;
}
 
.test-sport-cardroot-class-name2 {
  width: auto;
  align-self: center;
}
 
.test-sport-cardroot-class-name3 {
  flex: 1 1 calc(25% - 16px);
}
 
.test-sport-cardroot-class-name4 {
  flex: 1 1 calc(25% - 16px);
}
 
.test-sport-cardroot-class-name5 {
  flex: 1 1 calc(25% - 16px);
}
 
.test-sport-cardroot-class-name6 {
  flex: 1 1 calc(25% - 16px);
}
 
.test-sport-cardroot-class-name7 {
  flex: 1 1 calc(25% - 16px);
}
 
.test-sport-cardroot-class-name8 {
  flex: 1 1 calc(25% - 16px);
}
 
.test-sport-cardroot-class-name9 {
  flex: 1 1 calc(25% - 16px);
}
 
.test-sport-cardroot-class-name11 {
  width: auto;
  align-self: center;
}
 
@media(max-width: 991px) {
  .sport-lottery-section-text73 {
    font-size: 22px;
  }
}
 
@media(max-width: 479px) {
  .test-sport-card-text55 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
  }
  .sport-lottery-section-text74 {
    font-size: 22px;
  }
  .sport-lottery-section-text58 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
  }
  .test-sport-cardroot-class-name2 {
    align-self: flex-start;
  }
  .test-sport-cardroot-class-name11 {
    align-self: flex-start;
  }
}

.sport-lottery-section-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  margin-top: var(--dl-layout-space-unit);
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-twounits);
  flex-direction: column;
}
 
.sport-lottery-section-container2 {
  flex: 0 0 auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-layout-space-unit);
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: column;
}
 
.sport-lottery-section-text10 {
  align-self: center;
  text-align: center;
}
 
.sport-lottery-section-text11 {
  align-self: center;
  text-align: center;
}
 
.sport-lottery-section-text12 {
  align-self: center;
  text-align: center;
}
 
.sport-lottery-section-container3 {
  gap: var(--dl-layout-space-twounits);
  flex: 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-unit);
  justify-content: center;
}
 
.sport-lottery-section-fragment10 {
  display: contents;
}
 
.sport-lottery-section-text13 {
  display: inline-block;
  font-style: normal;
  font-weight: 700;
}
 
.sport-lottery-section-fragment11 {
  display: contents;
}
 
.sport-lottery-section-text14 {
  display: inline-block;
}
 
.sport-lottery-section-fragment12 {
  display: contents;
}
 
.sport-lottery-section-text15 {
  display: inline-block;
}
 
.sport-lottery-section-fragment13 {
  display: contents;
}
 
.sport-lottery-section-text16 {
  display: inline-block;
}
 
.sport-lottery-section-fragment14 {
  display: contents;
}
 
.sport-lottery-section-text17 {
  display: inline-block;
}
 
.sport-lottery-section-fragment15 {
  display: contents;
}
 
.sport-lottery-section-text18 {
  display: inline-block;
}
 
.sport-lottery-section-fragment16 {
  display: contents;
}
 
.sport-lottery-section-text19 {
  display: inline-block;
}
 
.sport-lottery-section-fragment17 {
  display: contents;
}
 
.sport-lottery-section-text20 {
  display: inline-block;
}
 
.sport-lottery-section-fragment18 {
  display: contents;
}
 
.sport-lottery-section-text21 {
  display: inline-block;
}
 
.sport-lottery-section-fragment19 {
  display: contents;
}
 
.sport-lottery-section-text22 {
  display: inline-block;
}
 
.sport-lottery-section-fragment20 {
  display: contents;
}
 
.sport-lottery-section-text23 {
  display: inline-block;
}
 
.sport-lottery-section-fragment21 {
  display: contents;
}
 
.sport-lottery-section-text24 {
  display: inline-block;
}
 
.sport-lottery-section-fragment22 {
  display: contents;
}
 
.sport-lottery-section-text25 {
  display: inline-block;
}
 
.sport-lottery-section-fragment23 {
  display: contents;
}
 
.sport-lottery-section-text26 {
  display: inline-block;
}
 
.sport-lottery-section-fragment24 {
  display: contents;
}
 
.sport-lottery-section-text27 {
  display: inline-block;
}
 
.sport-lottery-section-fragment25 {
  display: contents;
}
 
.sport-lottery-section-text28 {
  display: inline-block;
  font-style: normal;
  font-weight: 700;
}
 
.sport-lottery-section-fragment26 {
  display: contents;
}
 
.sport-lottery-section-text29 {
  display: inline-block;
}
 
.sport-lottery-section-fragment27 {
  display: contents;
}
 
.sport-lottery-section-text30 {
  display: inline-block;
}
 
.sport-lottery-section-fragment28 {
  display: contents;
}
 
.sport-lottery-section-text31 {
  display: inline-block;
}
 
.sport-lottery-section-fragment29 {
  display: contents;
}
 
.sport-lottery-section-text32 {
  display: inline-block;
}
 
.sport-lottery-section-fragment30 {
  display: contents;
}
 
.sport-lottery-section-text33 {
  display: inline-block;
}
 
.sport-lottery-section-fragment31 {
  display: contents;
}
 
.sport-lottery-section-text34 {
  display: inline-block;
}
 
.sport-lottery-section-fragment32 {
  display: contents;
}
 
.sport-lottery-section-text35 {
  display: inline-block;
}
 
.sport-lottery-section-fragment33 {
  display: contents;
}
 
.sport-lottery-section-text36 {
  display: inline-block;
}
 
.sport-lottery-section-fragment34 {
  display: contents;
}
 
.sport-lottery-section-text37 {
  display: inline-block;
}
 
.sport-lottery-section-fragment35 {
  display: contents;
}
 
.sport-lottery-section-text38 {
  display: inline-block;
}
 
.sport-lottery-section-fragment36 {
  display: contents;
}
 
.sport-lottery-section-text39 {
  display: inline-block;
}
 
.sport-lottery-section-fragment37 {
  display: contents;
}
 
.sport-lottery-section-text40 {
  display: inline-block;
}
 
.sport-lottery-section-fragment38 {
  display: contents;
}
 
.sport-lottery-section-text41 {
  display: inline-block;
}
 
.sport-lottery-section-fragment39 {
  display: contents;
}
 
.sport-lottery-section-text42 {
  display: inline-block;
}
 
.sport-lottery-section-fragment40 {
  display: contents;
}
 
.sport-lottery-section-text43 {
  display: inline-block;
  font-style: normal;
  font-weight: 700;
}
 
.sport-lottery-section-fragment41 {
  display: contents;
}
 
.sport-lottery-section-text44 {
  display: inline-block;
}
 
.sport-lottery-section-fragment42 {
  display: contents;
}
 
.sport-lottery-section-text45 {
  display: inline-block;
}
 
.sport-lottery-section-fragment43 {
  display: contents;
}
 
.sport-lottery-section-text46 {
  display: inline-block;
}
 
.sport-lottery-section-fragment44 {
  display: contents;
}
 
.sport-lottery-section-text47 {
  display: inline-block;
}
 
.sport-lottery-section-fragment45 {
  display: contents;
}
 
.sport-lottery-section-text48 {
  display: inline-block;
}
 
.sport-lottery-section-fragment46 {
  display: contents;
}
 
.sport-lottery-section-text49 {
  display: inline-block;
}
 
.sport-lottery-section-fragment47 {
  display: contents;
}
 
.sport-lottery-section-text50 {
  display: inline-block;
}
 
.sport-lottery-section-fragment48 {
  display: contents;
}
 
.sport-lottery-section-text51 {
  display: inline-block;
}
 
.sport-lottery-section-fragment49 {
  display: contents;
}
 
.sport-lottery-section-text52 {
  display: inline-block;
}
 
.sport-lottery-section-fragment50 {
  display: contents;
}
 
.sport-lottery-section-text53 {
  display: inline-block;
}
 
.sport-lottery-section-fragment51 {
  display: contents;
}
 
.sport-lottery-section-text54 {
  display: inline-block;
}
 
.sport-lottery-section-fragment52 {
  display: contents;
}
 
.sport-lottery-section-text55 {
  display: inline-block;
}
 
.sport-lottery-section-fragment53 {
  display: contents;
}
 
.sport-lottery-section-text56 {
  display: inline-block;
}
 
.sport-lottery-section-fragment54 {
  display: contents;
}
 
.sport-lottery-section-text57 {
  display: inline-block;
}
 
.sport-lottery-section-fragment55 {
  display: contents;
}
 
.sport-lottery-section-text58 {
  display: inline-block;
  font-style: normal;
  font-weight: 700;
}
 
.sport-lottery-section-fragment56 {
  display: contents;
}
 
.sport-lottery-section-text59 {
  display: inline-block;
}
 
.sport-lottery-section-fragment57 {
  display: contents;
}
 
.sport-lottery-section-text60 {
  display: inline-block;
}
 
.sport-lottery-section-fragment58 {
  display: contents;
}
 
.sport-lottery-section-text61 {
  display: inline-block;
}
 
.sport-lottery-section-fragment59 {
  display: contents;
}
 
.sport-lottery-section-text62 {
  display: inline-block;
}
 
.sport-lottery-section-fragment60 {
  display: contents;
}
 
.sport-lottery-section-text63 {
  display: inline-block;
}
 
.sport-lottery-section-fragment61 {
  display: contents;
}
 
.sport-lottery-section-text64 {
  display: inline-block;
}
 
.sport-lottery-section-fragment62 {
  display: contents;
}
 
.sport-lottery-section-text65 {
  display: inline-block;
}
 
.sport-lottery-section-fragment63 {
  display: contents;
}
 
.sport-lottery-section-text66 {
  display: inline-block;
}
 
.sport-lottery-section-fragment64 {
  display: contents;
}
 
.sport-lottery-section-text67 {
  display: inline-block;
}
 
.sport-lottery-section-fragment65 {
  display: contents;
}
 
.sport-lottery-section-text68 {
  display: inline-block;
}
 
.sport-lottery-section-fragment66 {
  display: contents;
}
 
.sport-lottery-section-text69 {
  display: inline-block;
}
 
.sport-lottery-section-fragment67 {
  display: contents;
}
 
.sport-lottery-section-text70 {
  display: inline-block;
}
 
.sport-lottery-section-fragment68 {
  display: contents;
}
 
.sport-lottery-section-text71 {
  display: inline-block;
}
 
.sport-lottery-section-fragment69 {
  display: contents;
}
 
.sport-lottery-section-text72 {
  display: inline-block;
}
 
.sport-lottery-section-fragment70 {
  display: contents;
}
 
.sport-lottery-section-text73 {
  display: inline-block;
}
 
.sport-lottery-section-fragment71 {
  display: contents;
}
 
.sport-lottery-section-text74 {
  display: inline-block;
  font-size: 22px;
}
 
.sport-lottery-section-fragment72 {
  display: contents;
}
 
.sport-lottery-section-text75 {
  display: inline-block;
}
 

 
@media(max-width: 991px) {
  .sport-lottery-section-container2 {
    margin-bottom: var(--dl-layout-space-unit);
  }
  .sport-lottery-section-text11 {
    font-size: 22px;
  }
  .sport-lottery-section-text12 {
    width: 90%;
    font-size: 22px;
  }
  .sport-lottery-section-text73 {
    font-size: 22px;
  }
}
 
@media(max-width: 479px) {
  .sport-lottery-section-container2 {
    width: 90%;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .sport-lottery-section-text12 {
    font-size: 22px;
  }
  .sport-lottery-section-text13 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
  }
  .sport-lottery-section-text28 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
  }
  .sport-lottery-section-text43 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
  }
  .sport-lottery-section-text58 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
  }
  .sport-lottery-section-text74 {
    font-size: 22px;
  }
}
